// ドキュメントタイプ。ここの「5」は、HTML5の意味
doctype 5
html
  head
    title= title
    // CSSを読み込む
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    // contentという名前のブロックをそのまま流しこむ (6)
    block content